<?xml version="1.0"?>
<launch>
    <arg name="robotiq_variant" default="2f_85" doc="Robotiq gripper model to preview. Currently support 2f_85 and 2f_140."/>
    <arg name="robot_xacro" default="$(eval find('rvl_robot_description') + '/xacro/robotiq/robotiq_' + robotiq_variant + '.xacro')"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_xacro)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rvl_robot_description)/rviz/view_robotiq.rviz" required="true" />
</launch>