<?xml version="1.0"?>
<launch>
    <arg name="prefix" default="''" doc="Prefix appended before robot names. Used to differentiate multiple similar robots." />
    <arg name="ur_variant" default="ur5e" doc="Valid models are ur3[e], ur5[e], ur10[e], and ur16e." />
    <arg name="ur_transmission_hw_interface" default="hardware_interface/PositionJointInterface" doc="hw_interface for the UR arm." />
    <arg name="robotiq_variant" default="2f_85" doc="Valid models are 2f_85 and 2f_140." />
    <arg name="robotiq_transmission_hw_interface" default="hardware_interface/EffortJointInterface" doc="hw_interface for the Robotiq gripper." />
    <arg name="realsense_variant" default="l515" doc="Valid models are l515." />
    <arg name="safety_limits" default="false" doc="If True, enable the safety limits controller." />
    <arg name="safety_pos_margin" default="0.15" doc="The lower/upper limits in the safety controller." />
    <arg name="safety_k_position" default="20" doc="Used to set k position in the safety controller." />

    <param name="robot_description" command="$(find xacro)/xacro $(find rvl_robot_description)/xacro/custom/rvl_arm.xacro
        prefix:=$(arg prefix)
        ur_variant:=$(arg ur_variant)
        ur_transmission_hw_interface:=$(arg ur_transmission_hw_interface)
        robotiq_variant:=$(arg robotiq_variant)
        robotiq_transmission_hw_interface:=$(arg robotiq_transmission_hw_interface)
        realsense_variant:=$(arg realsense_variant)
        safety_limits:=$(arg safety_limits)
        safety_pos_margin:=$(arg safety_pos_margin)
        safety_k_position:=$(arg safety_k_position)"
    />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rvl_robot_description)/config/view_rvl_robot.rviz" required="true" />
</launch>