<?xml version="1.0"?>
<launch>
    <arg name="tcp_ip" default="0.0.0.0"/>
    <arg name="tcp_port" default="10000"/>

    <!-- Start a simple TCP endpoint to talk to Unity -->
    <node name="unity_endpoint" pkg="rvl_unity_integration" type="simple_tcp_endpoint.py" output="screen">
        <param name="tcp_ip" type="string" value="$(arg tcp_ip)"/>
        <param name="tcp_port" type="int" value="$(arg tcp_port)"/>
    </node>
</launch>
