<?xml version="1.0"?>
<launch>
    <arg name="paused" default="false" doc="Start gazebo paused." />
    <arg name="gazebo_gui" default="true" doc="Show gazebo GUI on startup." />
    <arg name="tcp_ip" default="0.0.0.0"/>
    <arg name="tcp_port" default="10000"/>
    <arg name="show_rviz" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value ="$(find rvl_unity_integration)/world/test_viewer.world" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="gui" value="$(arg gazebo_gui)" />
    </include>

    <include file="$(find rvl_unity_integration)/launch/tcp_endpoint.launch">
        <arg name="tcp_ip" value="$(arg tcp_ip)"/>
        <arg name="tcp_port" value="$(arg tcp_port)"/>
    </include>

    <param name="robot_description" command="xacro '$(find rvl_robot_description)/xacro/kinect/azure_kinect.xacro' camera_name:='hmd'" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="500" />
        <param name="tf_prefix" value="" />
    </node>

    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="
        -urdf
        -param robot_description
        -model hmd_camera
        -x 0.0 -y 0.0 -z 0.05" respawn="false" output="screen" />

    <node name="hmd_updater" pkg="rvl_unity_integration" type="test_gazebo_set_pose.py" output="screen"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rvl_unity_integration)/launch/view_camera.rviz" if="$(arg show_rviz)" />
</launch>