[submodule "colcon_ws/src/ur_ros2_driver"]
	path = colcon_ws/src/ur_ros2_driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
[submodule "colcon_ws/src/ros_tcp_endpoint"]
	path = colcon_ws/src/ros_tcp_endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
