<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="realsense2_camera">

    <!-- <xacro:arg name="rs_variant" default="d415"/> -->
    <xacro:arg name="use_nominal_extrinsics" default="false" />
    <xacro:arg name="add_plug" default="true" />
    <xacro:arg name="use_mesh" default="true" />

    <!-- needed to make it a property for if statement? -->
    <xacro:property name="rs_variant" value="$(arg rs_variant)"/>

    <xacro:if value="${rs_variant == 'd415'}">
        <xacro:include filename="$(find rvl_robot_description)/xacro/realsense/d415.xacro" />

        <link name="base_link" />
        <xacro:sensor_d415 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
          <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:sensor_d415>
    </xacro:if>

    <xacro:if value="${rs_variant == 'd435'}">
        <xacro:include filename="$(find rvl_robot_description)/xacro/realsense/d435.xacro" />

        <link name="base_link" />
        <xacro:sensor_d435 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
          <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:sensor_d435>
    </xacro:if>

    <xacro:if value="${rs_variant == 'multiple_d435'}">
        <xacro:include filename="$(find rvl_robot_description)/xacro/realsense/d435.xacro" />

        <link name="base_link" />
        <xacro:sensor_d435 parent="base_link" name="camera1" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
          <origin xyz="0.1 0 0" rpy="0 0 0"/>
        </xacro:sensor_d435>

        <xacro:sensor_d435 parent="base_link" name="camera2" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
          <origin xyz="-0.1 0 0" rpy="0 0 3.1456"/>
        </xacro:sensor_d435>
    </xacro:if>

    <xacro:if value="${rs_variant == 'd435i'}">
        <xacro:include filename="$(find rvl_robot_description)/xacro/realsense/d435i.xacro"/>

        <link name="base_link" />
        <xacro:sensor_d435i parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
          <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:sensor_d435i>
    </xacro:if>

    <xacro:if value="${rs_variant == 'd455'}">
        <xacro:include filename="$(find rvl_robot_description)/xacro/realsense/d455.xacro" />

        <link name="base_link" />
        <xacro:sensor_d455 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
          <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:sensor_d455>
    </xacro:if>

    <xacro:if value="${rs_variant == 'l515'}">
        <xacro:include filename="$(find rvl_robot_description)/xacro/realsense/l515.xacro" />

        <link name="base_link" />
        <xacro:sensor_l515 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
          <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:sensor_l515>
    </xacro:if>

    <xacro:if value="${rs_variant == 'r410'}">
        <xacro:include filename="$(find rvl_robot_description)/xacro/realsense/r410.xacro" />

        <link name="base_link" />
        <xacro:sensor_r410 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
          <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:sensor_r410>
    </xacro:if>

    <xacro:if value="${rs_variant == 'r430'}">
        <xacro:include filename="$(find rvl_robot_description)/xacro/realsense/r430.xacro" />

        <link name="base_link" />
        <xacro:sensor_r430 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
          <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:sensor_r430>
    </xacro:if>

</robot>