<launch>
    <arg name="use_rviz" default="false" />

    <rosparam file="$(find unity_moveit_planning)/config/params.yaml" command="load"/>

    <node name="server_endpoint" pkg="unity_moveit_planning" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />
    <node name="planning_server" pkg="unity_moveit_planning" type="moveit_planning_server.py" args="--wait" output="screen" respawn="true" />
    
    <include file="$(find ur5e_robotiq_2f_85_moveit_config)/launch/demo.launch" pass_all_args="true" />
</launch>