<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_robotiq_xacro">
    <xacro:include filename="$(find unity_robot_description)/xacro/robotiq/2f_85/robotiq_arg2f_85_macro.xacro" />
    <xacro:include filename="$(find unity_robot_description)/xacro/robotiq/2f_140/robotiq_arg2f_140_macro.xacro" />
    <xacro:include filename="$(find unity_robot_description)/xacro/robotiq/2f_c2/robotiq_c2_model_macro.xacro" />
    <xacro:include filename="$(find unity_robot_description)/xacro/robotiq/3f/robotiq-3f-gripper_articulated_macro.xacro" />
    
    <xacro:robotiq_arg2f_85 prefix=""/>
    <xacro:robotiq_arg2f_140 prefix=""/>
    <xacro:robotiq_c2_model prefix=""/>
    <xacro:robotiq-3f-gripper_articulated prefix=""/>
</robot>