<?xml version="1.0"?>
<launch>

    <include file="$(find rvl_gazebo)/launch/empty_gazebo.launch">
        <arg name="paused" value="true"/>
    </include>

    <!-- robot names -->
    <arg name="robot1_name" value="arm1"/>
    <arg name="robot2_name" value="arm2"/>
    <arg name="robot3_name" value="rvl_arm1"/>
    <arg name="robot4_name" value="rvl_arm2"/>

    <group ns="$(arg robot1_name)">
        <include file="$(find rvl_gazebo)/launch/ur_bringup.launch">
            <arg name="ur_variant" value="ur10e"/>
            <arg name="gazebo_name" value="$(arg robot1_name)"/>
        </include>
    </group>

    <group ns="$(arg robot2_name)">
        <include file="$(find rvl_gazebo)/launch/ur_bringup.launch">
            <arg name="start_y" value="1"/>
            <arg name="ur_variant" value="ur10e"/>
            <arg name="start_shoulder_lift_joint" value="$(eval -3.141592654/4.0)" />
            <arg name="gazebo_name" value="$(arg robot2_name)"/>
        </include>
    </group>

    <group ns="$(arg robot3_name)">
        <include file="$(find rvl_gazebo)/launch/rvl_bringup.launch">
            <arg name="start_y" value="2"/>
            <arg name="ur_variant" value="ur10e"/>
            <arg name="robotiq_variant" value="2f_140"/>
            <arg name="initial_shoulder_lift_joint" value="$(eval -3.141592654/4.0)" />
            <arg name="gazebo_name" value="$(arg robot3_name)"/>
        </include>
    </group>

    <group ns="$(arg robot4_name)">
        <include file="$(find rvl_gazebo)/launch/rvl_bringup.launch">
            <arg name="start_y" value="3"/>
            <arg name="ur_variant" value="ur5e"/>
            <arg name="robotiq_variant" value="2f_85"/>
            <arg name="gazebo_name" value="$(arg robot4_name)"/>
        </include>
    </group>
</launch>