<?xml version="1.0"?>
<launch>

    <include file="$(find rvl_gazebo)/launch/empty_gazebo.launch" />

    <!-- robot names -->
    <arg name="robot1_name" value="arm1"/>
    <arg name="robot2_name" value="arm2"/>

    <group ns="$(arg robot1_name)">
        <include file="$(find rvl_gazebo)/launch/unified_ur_bringup.launch">
            <arg name="ur_variant" value="ur10e"/>
            <arg name="gazebo_name" value="$(arg robot1_name)"/>
        </include>
    </group>

    <group ns="$(arg robot2_name)">
        <include file="$(find rvl_gazebo)/launch/unified_ur_bringup.launch">
            <arg name="start_y" value="1"/>
            <arg name="ur_variant" value="ur10e"/>
            <arg name="start_shoulder_lift_joint" value="$(eval -3.141592654/4.0)" />
            <arg name="gazebo_name" value="$(arg robot2_name)"/>
        </include>
    </group>

</launch>