<?xml version="1.0"?>
<launch>
  <include file="$(find unity_robot_description)/launch/universal_robot/load_ur10e.launch"/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find unity_robot_description)/configs/view_ur.rviz" required="true" />
</launch>
