<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rvl_arm_gazebo">

    <!-- Include main macro -->
    <xacro:include filename="$(find rvl_gazebo)/xacro/rvl_gazebo_macro.xacro" />

    <!-- Default configs, with UR and Robotiq model preset -->
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="ur_variant" default="ur5e" />
    <xacro:arg name="ur_transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
    <xacro:arg name="robotiq_variant" default="2f_85" />
    <xacro:arg name="robotiq_transmission_hw_interface" default="hardware_interface/EffortJointInterface" />
    <xacro:arg name="safety_limits" default="false" />
    <xacro:arg name="safety_pos_margin" default="0.15" />
    <xacro:arg name="safety_k_position" default="20" />

    <!-- Instantiate the Gazebo robot and pass it all the required arguments. -->
    <xacro:rvl_arm_gazebo
        prefix="$(arg prefix)"
        ur_variant="$(arg ur_variant)"
        ur_transmission_hw_interface="$(arg ur_transmission_hw_interface)"
        robotiq_variant="$(arg robotiq_variant)"
        robotiq_transmission_hw_interface="$(arg robotiq_transmission_hw_interface)"
        safety_limits="$(arg safety_limits)"
        safety_pos_margin="$(arg safety_pos_margin)"
        safety_k_position="$(arg safety_k_position)" />

    <!--
        Attach the Gazebo model to Gazebo's world frame.

        Note: if you're looking to integrate a UR into a larger scene and need
        to add EEFs or other parts, DO NOT change this file or the 'world' link
        here. Create a NEW xacro instead and decide whether you need to add
        a 'world' link there.
    -->
    <link name="world" />
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="$(arg prefix)base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
</robot>