<?xml version="1.0"?>
<launch>
  <include file="$(find rvl_robot_description)/launch/universal_robots/load_ur16e.launch"/>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rvl_robot_description)/config/universal_robots/view_ur_arm.rviz" required="true" />
</launch>
